svg.svg-inline--fa.fa-play {
    color: #ea062b;
    transform: rotate(-55deg);
}

svg.svg-inline--fa.fa-heart {
    font-size: 18px;
    color: #ea062b;
}

section.donor.dark-overlay.section-space.bg-img {
    background-image: url("../Images/donorfotor.webp");
}

div#page-wrap {
    max-height: 700px;
    margin: 1rem auto;
    padding: 1rem;
    overflow-y: scroll;
}

select.select-donation-type {
    width: 100%;
    border: 0px solid transparent;
    border-radius: 0px;
    padding: 14px 20px;
    background-color: #f5f5f5;
    height: auto;
    line-height: 28px;
    margin-bottom: 0px;
    font-size: 16px;
}

select.select-donation-type:focus {
    background: #fff;
    border: 1px solid #e2e0e0;
}

textarea#appointmentMessage:focus {
    background: #fff;
    border: 1px solid #e2e0e0;
}

.appointment-area__single.appointment-area__content.bg-red {
    background-color: #fff;
}

h4.red {
    color: #ea062b;
}

li.black {
    color: #000;
}

svg#white {
    color: #ea062b;
}

.blink {
    animation: blinker 1.5s linear infinite;
    color: red;
    font-family: sans-serif;
    font-size: medium;
    font-weight: 800;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}