/* p.statement {
    display: inherit;
    font-size: larger;
}
select#regiGender:focus {
    background: #fff;
    border: 1px solid #e2e0e0;
}
select#regiGender {
    border: 1px solid rgb(202, 202, 202);
    background-color: #f1f1f1;
    padding: 6px 15px;
    margin: 0px;
    width: 100%;
} */

/* 
 .wrap {
	 position: absolute;
	 bottom: 0;
	 top: 0;
	 left: 0;
	 right: 0;
	 margin: auto;
	 height: 310px;
} */

 h1 strong {
	 font-weight: 400;
	 color: #ea062b;
}
img.clock {
    width: 44rem;
    margin-bottom: -67px;
    margin-top: -13rem;
}