@media (min-width: 1441px) and (max-width: 2560px) {
  .styles-module_whatsappButton__tVits.floating-whatsapp-button {
    margin-right: 152px !important;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .styles-module_whatsappButton__tVits.floating-whatsapp-button {
    margin-right: 28px !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .styles-module_whatsappButton__tVits.floating-whatsapp-button {
    margin-right: 56px !important;
  }
}
@media (min-width: 425px) and (max-width: 769px) {
  .styles-module_whatsappButton__tVits.floating-whatsapp-button {
    margin-right: 40px !important;
  }
}
@media (min-width: 375px) and (max-width: 424px) {
  .styles-module_whatsappButton__tVits.floating-whatsapp-button {
    margin-right: 36px !important;
  }
}
@media (min-width: 320px) and (max-width: 374px) {
  .styles-module_whatsappButton__tVits.floating-whatsapp-button {
    margin-right: 62px !important;
  }
}