.section-space {
    padding: 116px 0px;
}
select.selectpicker {
    width: 100%;
}
p.donorLabel {
    display: flex;
    margin-bottom: 8px;
    font-weight: 500;
}
.wordbreak {
    display: inherit;
}
svg.svg-inline--fa.fa-mobile-screen-button {
    color: #000;
    margin-right: 80px;
}
.modal-dialog.modal-lg {
    margin-top: 14%;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    background-color: #ea062b !important;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
button.close{
    color: #ea062b !important;
    opacity: .9;
    position: fixed;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #000;
}
button.button.button--effect.popup:hover{
    background-color: #000 !important;
    color: #fff !important;
}
input[type="checkbox"] {
    margin-left: -34% !important;
    margin-top: 8px;
}
input#email {
    font-size: 20px;
    height: 56px;
}
input#pwd{
    font-size: 20px;
    height: 56px;
}
input#name{
    font-size: 20px;
    height: 56px;
}
input#newemail{
    font-size: 20px;
    height: 56px;
}
input#newpwd{
    font-size: 20px;
    height: 56px;
}