/* .collapse:not(.show) {
  display: block !important;
} */
.section-space {
  padding: 116px 0px;
}
select.selectpicker {
  width: 100%;
}
p.donorLabel {
  display: flex;
  margin-bottom: 8px;
  font-weight: 500;
}
.wordbreak {
  display: inherit;
}
svg.svg-inline--fa.fa-mobile-screen-button {
  color: #000;
  margin-right: 80px;
}
.modal-dialog.modal-lg {
  margin-top: 14%;
}
ul.nav.nav-tabs.findDono > li.active > a,
ul.nav.nav-tabs.findDono > li.active > a:focus,
ul.nav.nav-tabs.findDono > li.active > a:hover {
  color: #fff;
  background-color: #ea062b !important;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
button.close {
  color: #ea062b !important;
  opacity: 0.9;
  position: fixed;
}
ul.nav.nav-tabs.findDono > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  color: #000;
}
button.button.button--effect.popup:hover {
  background-color: #000 !important;
  color: #fff !important;
}
input[type="checkbox"] {
  margin-left: -34% !important;
  margin-top: 8px;
}
input#email {
  font-size: 20px;
  height: 56px;
}
input#pwd {
  font-size: 20px;
  height: 56px;
}
input#name {
  font-size: 20px;
  height: 56px;
}
input#newemail {
  font-size: 20px;
  height: 56px;
}
input#newpwd {
  font-size: 20px;
  height: 56px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #ea062b;
  border-color: #ea062b;
}
.pagination {
  display: inline-block;
  margin-left: 40%;
}

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}


/* Select Fields css start */
select#city {
  width: 100%;
  border: 0px solid transparent;
  border-radius: 0px;
  padding: 14px 20px;
  background-color: #f5f5f5;
  height: auto;
  line-height: 28px;
  margin-bottom: 24px;
  font-size: 16px;
}
select#area {
  width: 100%;
  border: 0px solid transparent;
  border-radius: 0px;
  padding: 14px 20px;
  background-color: #f5f5f5;
  height: auto;
  line-height: 28px;
  margin-bottom: 24px;
  font-size: 16px;
}
select#group {
  width: 100%;
  border: 0px solid transparent;
  border-radius: 0px;
  padding: 14px 20px;
  background-color: #f5f5f5;
  height: auto;
  line-height: 28px;
  margin-bottom: 24px;
  font-size: 16px;
}
button.button.button--effect.findDonor:hover {
  background-color: #000 !important;
  color: #fff !important;
}
.findError {
  color: red;
}
/* Select Fields css End */

